In [2]:
import duckdb
from core.utils import duck_to_pandas, expand_column
import os
from dotenv import load_dotenv
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely.geometry import Point
from google.cloud import storage
import re

In [3]:
database_path = '/home/marcelo-borges/Documentos/Projetos/SIAN/laboratory/telemetry-validation/db/telemetria.duckdb'
query = "SELECT * FROM geodata"
df_geodata = duck_to_pandas(database_path, query)

In [4]:
df_geodata.sample(n=5)

,registration,description,geometry_type,coordinates,execution_date,hash
196,NLB6B04,20361,LineString,"[[-49.301308, -16.702576], [-49.301419, -16.70...",2024-03-21,644d21a5d95e572b99132e3c682c24c601311f4b3f58e2...
282,NLC7694,20357,LineString,"[[-49.301396, -16.702567], [-49.30157, -16.702...",2024-03-29,a9c56124d27f60b7f5e4b5357551b3b8a650cee2b58624...
417,NJY3685,20360,LineString,"[[-49.301388, -16.702528], [-49.301471, -16.70...",2024-04-12,e130e238ef3be603dd99a610d234aaf272864b5bfdd029...
373,NLB6B04,20361,LineString,"[[-49.301241, -16.702917], [-49.301275, -16.70...",2024-04-08,2e764ceb40e7dfaecb14f6ba1a210f8dcbbaff61c4b7bc...
1290,NKE9854,20224,LineString,"[[-49.301373, -16.704071], [-49.301415, -16.70...",2024-07-10,040566d2cf237ca82f63a06a9632c8c640e560a6dc0405...

In [5]:
df_geodata.describe()

,registration,description,geometry_type,coordinates,execution_date,hash
count,1392,1392,1392,1392,1392,1392
unique,28,28,1,1349,136,1392
top,NJY3685,20360,LineString,"[[-49.301364, -16.704743]]",2024-07-12,7564c8a42e9c2b914d5bf3efed5087dfd7fbb59dc1970a...
freq,136,136,1392,5,24,1

In [6]:
df_geodata.dtypes

registration      object
description       object
geometry_type     object
coordinates       object
execution_date    object
hash              object
dtype: object

In [7]:
df_geodata.isna().sum()

registration      0
description       0
geometry_type     0
coordinates       0
execution_date    0
hash              0
dtype: int64

In [8]:
df_geodata.to_csv('geodata.csv',sep=';',decimal=',')

In [9]:
df_geodata.sample(n=100).to_csv('geodata_sample.csv',sep=';',decimal=',')

In [10]:
df_geodata.sample(n=100)

,registration,description,geometry_type,coordinates,execution_date,hash
270,NLB6B14,20362,LineString,"[[-49.301395, -16.702534], [-49.301441, -16.70...",2024-03-28,62a65edc7187af09ffd76b40d534168906d18df89bbfba...
1091,ONW2749,20019,LineString,"[[-49.301763, -16.704244], [-49.301881, -16.70...",2024-06-20,065b3f0198642ca6d68f08c4db6a2f80e42246a9a72437...
136,NLB6B04,20361,LineString,"[[-49.301343, -16.70255], [-49.301377, -16.702...",2024-03-15,65fe1b4dba92844ca17e96ae722f401020b713d46291e6...
817,ONU6399,20018,LineString,"[[-49.301671, -16.704269], [-49.301668, -16.70...",2024-05-23,4d04b5f6491b1eaf47c6f339cad5f112496dd2f54e6f24...
184,SCQ3A44,20805,LineString,"[[-49.301915, -16.704067], [-49.301871, -16.70...",2024-03-20,0334be874a96e23ded6547a1d74a45c5b68613482f065e...
...,...,...,...,...,...,...
934,NLC7694,20357,LineString,"[[-49.301263, -16.703197], [-49.301237, -16.70...",2024-06-03,9778188ca245d3d6cdf8e9bc9df1a70048eb1ca216e020...
338,NKN2285,20386,LineString,"[[-49.301337, -16.703264], [-49.301348, -16.70...",2024-04-04,ea46a2b55628c87df67fe1a2f1e040029204df7728aca3...
542,NLC7694,20357,LineString,"[[-49.30118, -16.703673], [-49.301212, -16.703...",2024-04-24,7a9fe5222d8c9fbe13d19a04ca99a34c83c979d6ee9b73...
202,NLC7694,20357,LineString,"[[-49.301407, -16.702443], [-49.301418, -16.70...",2024-03-21,83263ffc3d43119a79b15c938b2004dc002992cb80088a...
717,ONW2749,20019,LineString,"[[-49.301508, -16.704287], [-49.301423, -16.70...",2024-05-12,fbae79d38795d3aa3121b6b505c04a19f9ca869dbf720e...

In [12]:
df_geodata.columns

Index(['registration', 'description', 'geometry_type', 'coordinates',
       'execution_date', 'hash'],
      dtype='object')